<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients List</title>
    <link rel="stylesheet" th:href="@{/css/css/patient.css}">
</head>
<body>
<h1>Patients</h1>
<table border="1">
    <tr>
        <th>Patient Number</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Date of Birth</th>
        <th>Is OutPatient</th>
        <th>Actions</th>
    </tr>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.patientNumber}"></td>
        <td th:text="${patient.fullName}"></td>
        <td th:text="${patient.emailAddress}"></td>
        <td th:text="${patient.contactPhoneNumber}"></td>
        <td th:text="${patient.dateOfBirth}"></td>
        <td th:text="${patient.isAnOutPatient}"></td>
        <td>
            <a th:href="@{/patients/edit/{id}(id=${patient.patientId})}">Edit</a>
            <a th:href="@{/patients/delete/{id}(id=${patient.patientId})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/patients/new">Register New Patient</a>
<p>create by M.T</p>
</body>
</html>
